body {
    background-color: #0a1f44;
    margin: 0;
    text-align: center;
}

.Barre_en_haut {
    display: flex;
    justify-content: space-around;
}

.trois_barres {
    margin-top: 20px;
}

.retour {
    text-decoration: none;
    margin-top: 12px;
    color: white;
}

.Barre_en_haut img {
    width: 50px;
    height: 50px;
    margin: 0;
}

.Bloc_en_bas {
    background-color: white;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 35px;
    padding-bottom: 30%;
}

.Bloc_en_bas details {
    text-align: center;
    margin-bottom: 20px;
}

.Bloc_en_bas summary {
    border: #0a1f44 solid 2px;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

.Bloc_en_bas p {
    margin-top: 10px;
    text-align: center;
    border: #0a1f44 solid 2px;
    background-color: #0a1f44;
    color: #ffffff;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Bloc_en_bas a {
    color: white;
}

@media (max-width:768px) {
    .Bloc_en_bas {
        padding: 20px;
    }

}