body {
    margin: 0;
    background-color: #0a1f44;
}

.home {
    background-color: white;
    margin-top: 80px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
}

#image1 {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h3 {
    color: green;
}

.section {
    display: flex;
    justify-content: left;
}

.image {
    width: 50px;
    height: 50px;
}

.inscrivez-vous {
    text-decoration: none;
    color: white;
    background-color: green;
    border: solid green 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.inscrivez-vous:hover {
    border: solid 10px #0a1f44;
    background-color: #0a1f44;
}

.bouton {
    text-align: center;
    margin-top: 20px;
}

.connectez-vous {
    margin: 0 auto;
    margin-top: 20px;
}

.connectez-vous_a {
    text-decoration: none;
    color: green;
}

/* Responsive pour les téléphones */
@media (max-width: 768px) {
    .home {
        margin: 20px;
        margin-top: 30px;
        padding: 20px;
    }

    h1 {
        font-size: 35px;
    }

    main {
        font-size: 25px;
    }

    #image1 {
        width: 100%;
        max-width: 300px;
        height: auto;
        display: block;
        margin: 20px auto;
    }

    .section {
        display: flex;
        justify-content: left;
        font-size: 25px;
    }

    .image {
        width: 40px;
        height: 40px;
    }

    h3 {
        font-size: 22px;
        text-align: center;
    }

    .inscrivez-vous {
        display: block;
        width: fit-content;
        margin: 20px auto;
        text-align: center;
    }

    .connectez-vous {
        /* margin-left: 0; */
        text-align: center;
        margin-top: 20px;
    }
}