body {
    margin: 0;
    background: #0a1f44;

}

.home {
    background-color: white;
    margin-top: 80px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
}

#image1 {
    width: 500px;
    height: auto;
    margin-left: 20%;
}


h3 {
    color: green;
}

.section {
    display: flex;
    justify-content: left;
    margin-bottom: -20px;

}

.image {
    width: 50px;
    height: 50px;
}


.inscrivez-vous {
    text-decoration: none;
    color: white;
    background-color: green;
    border: solid green 10px;
    border-radius: 10px;
    margin-left: 50%;
    cursor: pointer;
}

.inscrivez-vous:hover {
    border: solid 10px #0a1f44;
    background-color: #0a1f44;
}

.connectez-vous {
    margin-left: 45%;
}

.connectez-vous_a {
    text-decoration: none;
    color: green;
}